body {
  font-family: 'Indie Flower', serif; 
  font-size: 20px;
 }

.navbar{
background-color: rgba(232, 218, 208, 0.8);
}

#email{
	padding: 20px;
	background-color: rgba(232, 218, 208, 0.5);
	border-radius: 10px;
	width: 300px;
}

#logos {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(0.5); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(0.5); /* Microsoft Edge and Firefox 35+ */
}

.about-page {
	background-image: url("Photos/pexels-photo.jpg");
	background-size: cover;
	min-height:100vh;
}

.porfolio-page{
	background-image: url("Photos/MacPhoto.jpeg");
	background-size: cover;
}

h1{
	color: rgb(134, 159, 165);
	text-shadow: 1px 1px black;
}

.col-md-8, .col-md-3 {
	padding: 20px;
	background-color: rgba(232, 218, 208, 0.5);
	border-radius: 10px;
}


.col-md-3{
	text-align: center;
}


.row {
margin-bottom:20px;
}


a img{
	min-height: 150px;
}

.col-md-3 a{
	display: inline-block;
}

h1{
	text-align:center;
}

#face{
	height: 250px;
	width: 250px;
	filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0.3); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(0.3); /* Microsoft Edge and Firefox 35+ */
}

.contact-page{
	background-image: url("Photos/MailBox.jpeg");
	background-size: cover;
	height:100vh;
}

.btn-default{
	font-size:1em;
}

img{
	height: 150px;
	width: 150px;
	border-radius:15px;
}

.apps{

 filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(0.6); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(0.6); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
.apps:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}


.paddingTop{
	padding-top:8%;
}



